name: release

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
        - info
        - warning
        - debug
      environment:
        description: 'Environment to deploy to'
        required: true
        default: 'staging'
        type: string
  push:
    tags:
    - '*'

jobs:
  release:
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
    - name: checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: configure
      run: cmake --preset release-win32
    - name: build
      run: cmake --build --preset release-win32
    - name: release
      uses: ncipollo/release-action@v1
      with:
        artifacts: "build/Release/*.wz,build/Release/*.dll,build/Release/*.exe"
        allowUpdates: true
